In [35]:
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('../data/creditcard.csv')

In [37]:
df_feature = df[["V20","V21","V22", "V23", "V24","Time","Class"]]

df_feature.head()

        V20       V21       V22       V23       V24  Time  Class
0  0.251412 -0.018307  0.277838 -0.110474  0.066928   0.0      0
1 -0.069083 -0.225775 -0.638672  0.101288 -0.339846   0.0      0
2  0.524980  0.247998  0.771679  0.909412 -0.689281   1.0      0
3 -0.208038 -0.108300  0.005274 -0.190321 -1.175575   1.0      0
4  0.408542 -0.009431  0.798278 -0.137458  0.141267   2.0      0

In [38]:
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor

# Initialize the Local Outlier Factor model
lof = LocalOutlierFactor(n_neighbors=20, contamination=0.0001)  # Adjust parameters as needed

# Fit the model and predict the anomaly scores
anomaly_scores = lof.fit_predict(df_feature)

# Create a new column to indicate the anomaly scores
df_feature['AnomalyScore'] = anomaly_scores

# Set actual anomalies as 1
df_feature.loc[df_feature['AnomalyScore'] == -1, 'ActualAnomaly'] = 1
df_feature['ActualAnomaly'].fillna(0, inplace=True)

# Filter the dataset to show only the actual anomalies (ActualAnomaly == 1)
actual_anomalies = df_feature[df_feature['ActualAnomaly'] == 1]

C:\Users\abhi_\AppData\Local\Temp\ipykernel_14808\1497078300.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature['AnomalyScore'] = anomaly_scores
C:\Users\abhi_\AppData\Local\Temp\ipykernel_14808\1497078300.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature.loc[df_feature['AnomalyScore'] == -1, 'ActualAnomaly'] = 1
C:\Users\abhi_\AppData\Local\Temp\ipykernel_14808\1497078300.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature['ActualAnomaly'].fillna(0, inplace=True)

In [39]:
df_feature["ActualAnomaly"].value_counts()
# df_feature["Class"].value_counts()
# df_feature["AnomalyScore"].value_counts()

ActualAnomaly
0.0    284778
1.0        29
Name: count, dtype: int64

In [40]:
df_feature.head()

,V20,V21,V22,V23,V24,Time,Class,AnomalyScore,ActualAnomaly
0,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.0,0,1,0.0
1,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.0,0,1,0.0
2,0.524980,0.247998,0.771679,0.909412,-0.689281,1.0,0,1,0.0
3,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,1.0,0,1,0.0
4,0.408542,-0.009431,0.798278,-0.137458,0.141267,2.0,0,1,0.0